/* THIS IS MY CSS PAGE */
body{
    background-color:#f2e8cf;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}


header{
    background-color:#386641;
    padding: 2rem 2vw;
}

header h1{
    margin: 0;
    color: #f2e8cf;
}

header p{
    margin:0;
    color:#f2e8cf;
    letter-spacing: .5px
}

/*--This is the navigation section--*/
nav{
    background-color: #6a994e;
}

nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
    line-height: 48px;
    text-align: center;

}

nav a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #f2e8cf;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a{
    background-color: #024873;
    color:#f2b705;
}

nav a:hover{
    color: #024873;
}
/*--THIS IS THE MAIN SECTION--*/
main{
    padding: 1rem 2vw;
}

main h1{
    color: #99582a;
}

main h2{
    color: #024873;
    margin-bottom: .2rem;
}

main p{
    color: #2f3133;
    margin: 0 0 .3rem 0
}

main ol{
    padding: .5rem 3vw;
    background-color: white;
    list-style-type: circle;
}

main dl dt{
    color: #99582a;
    font-weight: 700;
}

main dl dd{
    color: #024873;
    font-size: .9rem;
}

main ul{
    list-style-type:lower-roman;
}

main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

address {
    border:#2f3133;
    border-radius: 2%;;
}

/*--THIS IS THE FOOTER SECTION--*/
footer{
    background-color: #eaeaea;
    text-align: center;
    color: #024873;
    padding: 1rem 0; 
    font-size: .8rem;
}

address {
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    padding: 7px;
}
footer a{
    color: #024873;
}