body{
    background-color:#f2e8cf;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}


header{
    background-color:#386641;
    padding: 2rem 2vw;
}

header h1{
    margin: 0;
    color: #f2e8cf;
}

header p{
    margin:0;
    color:#f2e8cf;
    letter-spacing: .5px
}

/*--This is the navigation section--*/
nav{
    background-color: #6a994e;
}

nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
    line-height: 48px;
    text-align: center;

}

nav a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #024873;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a{
    background-color: #024873;
    color:#f2e8cf;
}

nav a:hover{
    color:white;
}

nav.active a {
    background-color: #024873;
}
/*--THIS IS THE MAIN SECTION--*/
main{
    padding: 1rem 2vw;
}

main h1{
    color: #99582a;
}

main h2{
    color: #024873;
    margin-bottom: .2rem;
}

main p{
    color: #2f3133;
    margin: 0 0 .3rem 0
}

main ol{
    padding: .5rem 3vw;
    background-color: #fbf5e0 ;
    list-style-type: circle;
}

main dl dt{
    color: #99582a;
    font-weight: 700;
}

main dl dd{
    color: #024873;
    font-size: .9rem;
}

main ul{
    list-style-type:lower-roman;
}

main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img{
    width: 100%;
    height: auto;
}

figure.wrapped figcaption{
    text-align: center;
    font-size: .75rem;
}

div.gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;   
}

div.gallery figure {
    display: block;
    border-top-left-radius: 10px;
}

div.gallery figcaption {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    background-color: #eaeaea;
    color: #99582a;    
}

.myForm fieldset {
    border: 1px solid #024873;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: #024873;
    font-size: .8rem;
}

.myForm label {
    margin: .5rem;
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm textarea {
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm select, .myForm textarea {
    border: solid 1px #024873 ;
    padding: .3rem;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 200;
}

.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: #e6ebe5 ;
}

.myForm [type=submit] {
    background-color: #024873;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}





/*--THIS IS THE FOOTER SECTION--*/
footer{
    background-color: #6a994e;
    text-align: center;
    color: #efefef;
    padding: 1rem 0; 
    font-size: .8rem;
    clear:both;
}

footer a{
    color: #024873;
}